@{
    ViewData["Title"] = "Home Page";
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
<script src="~/js/Home.js"></script>


<div class="text-left" style="padding-bottom: 25px;">
    <label>Ingrese la IP: </label>
    <input type="text" id="ip"/>
    <button id="btnEnviar">Enviar</button>
</div>

<table id="ipInfoTable">
    
</table>


